[Unit]
Description=percona-clustersync-mongodb
After=time-sync.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/pcsm
Type=simple
User=mongod
Group=mongod
PermissionsStartOnly=true
ExecStart=/usr/bin/pcsm

[Install]
WantedBy=multi-user.target
