services:

  # ----------------- Source -----------------
  src-mongos:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-mongos
    hostname: src-mongos
    ports: ["27017:27017"]
    volumes: ["./mongo/:/cfg:ro"]
    command:
      [
        "mongos",
        "-f",
        "/cfg/mongos.conf",
        "--configdb",
        "src-cfg/src-cfg0:27000",
      ]

  src-cfg0:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-cfg0
    hostname: src-cfg0
    ports: ["27000:27000"]
    volumes: ["src-cfg0:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/configsvr.conf",
        "--replSet",
        "src-cfg",
        "--port",
        "27000",
      ]
  src-cfg1:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-cfg1
    hostname: src-cfg1
    ports: ["27001:27001"]
    volumes: ["src-cfg1:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/configsvr.conf",
        "--replSet",
        "src-cfg",
        "--port",
        "27001",
      ]
  src-cfg2:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-cfg2
    hostname: src-cfg2
    ports: ["27002:27002"]
    volumes: ["src-cfg2:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/configsvr.conf",
        "--replSet",
        "src-cfg",
        "--port",
        "27002",
      ]

  src-rs00:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-rs00
    hostname: src-rs00
    ports: ["30000:30000"]
    volumes: ["src-rs00:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs0",
        "--port",
        "30000",
      ]
  src-rs01:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-rs01
    hostname: src-rs01
    ports: ["30001:30001"]
    volumes: ["src-rs01:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs0",
        "--port",
        "30001",
      ]
  src-rs02:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-rs02
    hostname: src-rs02
    ports: ["30002:30002"]
    volumes: ["src-rs02:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs0",
        "--port",
        "30002",
      ]

  src-rs10:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-rs10
    hostname: src-rs10
    ports: ["30100:30100"]
    volumes: ["src-rs10:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs1",
        "--port",
        "30100",
      ]
  src-rs11:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-rs11
    hostname: src-rs11
    ports: ["30101:30101"]
    volumes: ["src-rs11:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs1",
        "--port",
        "30101",
      ]
  src-rs12:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: src-rs12
    hostname: src-rs12
    ports: ["30102:30102"]
    volumes: ["src-rs12:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs1",
        "--port",
        "30102",
      ]

  # ----------------- Target -----------------
  tgt-mongos:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-mongos
    hostname: tgt-mongos
    ports: ["29017:27017"]
    volumes: ["./mongo/:/cfg:ro"]
    command:
      [
        "mongos",
        "-f",
        "/cfg/mongos.conf",
        "--configdb",
        "tgt-cfg/tgt-cfg0:28000",
      ]

  tgt-cfg0:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-cfg0
    hostname: tgt-cfg0
    ports: ["28000:28000"]
    volumes: ["tgt-cfg0:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/configsvr.conf",
        "--replSet",
        "tgt-cfg",
        "--port",
        "28000",
      ]
  tgt-cfg1:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-cfg1
    hostname: tgt-cfg1
    ports: ["28001:28001"]
    volumes: ["tgt-cfg1:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/configsvr.conf",
        "--replSet",
        "tgt-cfg",
        "--port",
        "28001",
      ]
  tgt-cfg2:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-cfg2
    hostname: tgt-cfg2
    ports: ["28002:28002"]
    volumes: ["tgt-cfg2:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/configsvr.conf",
        "--replSet",
        "tgt-cfg",
        "--port",
        "28002",
      ]

  tgt-rs00:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-rs00
    hostname: tgt-rs00
    ports: ["40000:40000"]
    volumes: ["tgt-rs00:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs0",
        "--port",
        "40000",
      ]
  tgt-rs01:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-rs01
    hostname: tgt-rs01
    ports: ["40001:40001"]
    volumes: ["tgt-rs01:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs0",
        "--port",
        "40001",
      ]
  tgt-rs02:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-rs02
    hostname: tgt-rs02
    ports: ["40002:40002"]
    volumes: ["tgt-rs02:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs0",
        "--port",
        "40002",
      ]

  tgt-rs10:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-rs10
    hostname: tgt-rs10
    ports: ["40100:40100"]
    volumes: ["tgt-rs10:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs1",
        "--port",
        "40100",
      ]
  tgt-rs11:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-rs11
    hostname: tgt-rs11
    ports: ["40101:40101"]
    volumes: ["tgt-rs11:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs1",
        "--port",
        "40101",
      ]
  tgt-rs12:
    image: "percona/percona-server-mongodb:${MONGO_VERSION:-8.0}"
    container_name: tgt-rs12
    hostname: tgt-rs12
    ports: ["40102:40102"]
    volumes: ["tgt-rs12:/data/db", "./mongo/:/cfg:ro"]
    command:
      [
        "mongod",
        "-f",
        "/cfg/shardsvr.conf",
        "--replSet",
        "rs1",
        "--port",
        "40102",
      ]

volumes:
  src-cfg0:
  src-cfg1:
  src-cfg2:
  src-rs00:
  src-rs01:
  src-rs02:
  src-rs10:
  src-rs11:
  src-rs12:
  tgt-cfg0:
  tgt-cfg1:
  tgt-cfg2:
  tgt-rs00:
  tgt-rs01:
  tgt-rs02:
  tgt-rs10:
  tgt-rs11:
  tgt-rs12:
