name: Go-code

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - run: go test -v ./...

  gofmt:
    name: gofmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - run: go install golang.org/x/tools/cmd/goimports@latest
      - run: go install mvdan.cc/gofumpt@latest
      # - run: go install github.com/segmentio/golines@latest
      - run: goimports -w -local "github.com/percona" .
      - run: gofumpt -w -extra .
      # - run: golines -w --shorten-comments --chain-split-dots -m 100 .
      - uses: reviewdog/action-suggester@v1
        with:
          tool_name: gofmt

  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          reporter: github-pr-review
          level: error

  integration-test:
    name: Integration (MongoDB ${{ matrix.mongo_version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mongo_version: ["6.0", "7.0", "8.0"]
    env:
      MONGO_VERSION: ${{ matrix.mongo_version }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: make test-integration
