name: Python-code

on: [pull_request]

jobs:
  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install ruff
        run: pip install ruff
      - name: Ruff check
        run: ruff check tests/ hack/
      - name: Ruff format check
        run: ruff format --check tests/ hack/
